/* font used: Poppins regular 400 medium 500 semibold 600*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.profile-card {
    background-color: #fff;
    max-width: 375px;
    width: 100%;
    border-radius: 24px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0 10px black;
}

.profile-card::before {
    content: '';
    position: absolute;
    background-color: #4070f4;
    top: 0;
    left: 0;
    height: 36%;
    width: 100%;
    border-radius: 24px 24px 0 0;
}

.profile-card .profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #4070f4;
    padding: 3px;
    
}


.profile-img .image {
    position: relative;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 3px solid #fff;
}  

.profile-card .data{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.data .name {
    font-size: 24px;
    font-weight: 500;
}

.data .job {
    font-size: 18px;
    font-weight: 400;
}

.profile-card .media {
    margin-top: 12px;
    display: flex;
    justify-content: center;
    
}

.media .links {
    text-decoration: none;
    color: #fff;
    height: 45px;
    width: 45px;
    background-color: #4070f4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    margin: 0 15px;
    border-radius: 50%;
}

.profile-card .buttons {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.buttons .button {
    margin: 0 20px;
    background-color: #4070f4;
    border: none;
    border-radius: 28px;
    padding: 16px;
    color: #fff;
    font-size: 16px;
}

.button:hover {
    cursor: pointer;
    background-color: #2159f2;
}